{% extends "layout.html" %}

{% block title %}
    Reviewing {{ book.title }} by {{ book.author }}
{% endblock %}

{% block body %}
<div class="section">
    <form class="start-form" action="/new-review" method="post">
        <div class="form-group">
            <label for="rating-input">Rating (1-5 stars)</label>
            <select id="rating-input" name="rating" class="form-control">
                <option selected>5</option>
                <option>4</option>
                <option>3</option>
                <option>2</option>
                <option>1</option>
            </select>
        </div>
        <div class="form-group">
            <div>
            <textarea name="message" rows="10" placeholder="Comment on {{ book.title }}"></textarea>
            </div>
        </div>
        <input type="text" readonly class="form-control-plaintext" name="book-id" value="{{ book.id }}"> 
        <button type="submit" class="teal-btn">Post</button>
    </form>
</div>
{% endblock %}